<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <header>
            <div class="">

            </div>
        </header>
        <div class="">
            <a href="/todo">TODO app</a>
        </div>
        <footer></footer>
    </body>
</html>
